@import "../../base/variables";

.categories {
  background-color: #319dff;
  display: block;

  .select-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .select-box {
    position: relative;
    border-right: 1px solid #1d91fd;

    select {
      background-color: transparent;
      color: #fff;
      border: none;
      font-size: 11px;
      padding: 10px 24px;

      appearance: none;
      transition: background-color 0.2s ease-in;

      &:last-child {
        // padding: 10px 0 10px 24px;
      }
    }

    &:last-child {
      border: none;
    }

    transition: background-color 0.2s ease;

    &:hover {
      background-color: #1d91fd;
    }

    &:after {
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 3px;
      border-color: white transparent transparent transparent;
      top: 50%;
      transform: translate(0, -25%);
      right: 10px;
    }
  }
}

// Media Query

@media (max-width: $lg) {
  .select-boxes {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    column-gap: 35px;

    .select-box {
      border: none;
      select {
        padding: 10px 0;
      }
    }
  }
}

@media (max-width: $sm) {
  .select-boxes {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
