@import "../../base/variables";
@import url("./_top.scss");
@import url("./_categories.scss");

header {
  color: #808080;
  font-size: 12px;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    padding: 24px 0;

    .title-box {
      display: flex;
      gap: 20px;

      .menu-bar {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-size: 15px;
        color: #3a3a3a;
      }
    }

    .search-box {
      display: flex;
      // align-items: center;
      border: 1.5px solid #319dff;
      border-radius: 20px;
      // padding: 4px;
      max-width: 640px;
      width: 100%;
      position: relative;

      input {
        width: 100%;
        margin-right: 10px;
        border: none;
        border-right: 1px solid #808080;
        padding: 4px 12px 4px 6px;
      }

      .select-box {
        margin-right: 100px;
        display: flex;
        align-items: center;
        width: 74px;
        div {
          width: 200% !important;
          box-shadow: none !important;
          border-radius: 0 !important;
          ul {
            border-radius: 0 !important;
            width: 150% !important;
            left: 75% !important;
            li {
              padding: 0 !important;
              font-size: 12px !important;
            }
          }

          h1 {
            font-size: 12px !important;
            padding: 0;

            &::after {
              right: -25px;
            }
          }
        }
      }

      .search-btn {
        background-color: #319dff;
        border-radius: 0 24px 24px 0;
        border: none;
        color: #fff;
        padding: 0 15px;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;

        transition: background-color 0.2s ease-in;

        &:hover {
          background-color: #0077e4;
        }
      }
    }

    .inner-menu {
      display: flex;
      align-items: center;

      &_item {
        padding: 0 12px;
        position: relative;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #808080;
          font-size: 14px;
          text-decoration: none;

          transition: color 0.2s ease;

          .menu-item_tooltip {
            display: inline;
            position: absolute;
            top: -100%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            background-color: #1d232c;
            color: #fff;
            padding: 10px;
            border-radius: 6px;
            width: 240%;

            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            transition: opacity 0.8s, top 0.4s ease;

            // ======== Pseudo-element ==========

            &::after {
              content: "";
              position: absolute;
              border-width: 6px;
              border-style: solid;
              border-color: transparent transparent #1d232c transparent;
              bottom: 100%;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }

        &:hover a {
          color: #319dff;
        }

        &:hover .menu-item_tooltip {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
          top: 200%;
        }

        &:last-child .menu-item_tooltip {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: $xl) {
  header {
    .option-bar {
      .select-box:first-child {
        padding: 0 12px !important;
      }

      .select-box:last-child {
        padding: 0 12px 0 14px !important;

        span {
          left: 0 !important;
        }
      }
    }

    .top-buttons {
      button {
        padding: 0 15px !important;
      }
    }
  }
}

@media (max-width: $lg) {
  .inner {
    .search-box {
      input {
        margin-right: 0 !important;
        padding: 4px 20px 4px 6px !important;
      }

      .select-box {
        margin-left: 15px;
        div {
          h1 {
            width: 80px;
          }
        }
      }
    }
    .inner-menu {
      &_item {
        padding: 0 5px !important;
      }
    }
  }
}

@media (max-width: $md) {
  .inner {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;

    .search-box {
      order: 3 !important;
      grid-column-start: 1;
      grid-column-end: 3;

      input {
        border: none !important;
      }

      .select-box {
        display: none !important;
      }
    }

    .inner-menu {
      order: 2 !important;
      justify-content: end;

      &_item {
        padding: 0 12px !important;
      }
    }
  }
}
