@import "../../base/variables";

.top {
  padding: 8px 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .option-bar {
    display: flex;
    align-items: center;
    gap: 5px;

    .select-box {
      position: relative;
      padding: 0 0 0 20px;
      border-right: 1px solid #e6e6e6;

      span {
        position: absolute;
        left: 5px;
        top: 2px;
      }

      div {
        padding: 0 !important;
        border-radius: 0 !important;
        box-shadow: none !important;

        ul {
          border-radius: 0 !important;
        }

        h1 {
          padding: 0 24px 0 0 !important;
        }
      }
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    gap: 24px;

    .top-bar-btn {
      background-color: transparent;
      border: none;
      display: none;
      align-items: center;
      justify-content: center;
    }

    .top-buttons {
      display: flex;
      align-items: center;

      button {
        padding: 0 24px;
        background-color: transparent;
        border: none;
        border-left: 1px solid #eef0f4;
        display: flex;
        align-items: center;
        gap: 4px;
        color: #808080;

        transition: color 0.2s ease;

        &:hover {
          color: #319dff;
        }

        &:last-child {
          padding: 0 0 0 24px;
        }
      }
    }
  }
}

@media (max-width: $xl) {
  .select-box {
    span {
      left: -3px !important;
    }
  }
}

@media (max-width: $md) {
  .right-side {
    .top-bar-btn {
      display: flex !important;
    }

    .top-buttons {
      display: none !important;
      position: relative;
    }
  }
}
